<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <title>Ninja Gold</title>
    </head>
    <body>
      
      <form action="/ninja/process_money" method="POST">{% csrf_token %}
        <div class="caja">Tu tesoro disponible es : {{request.session.gold}}</div>
        <div class="row">
          
          <div class="card m-3" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ee_uq8JSDnSfqM30F_VhoG-rgRv7fbFMCg&usqp=CAU" class="card-img-top" alt="Cosecha de Maiz">
            <div class="card-body">
              <h5 class="card-title">Farm</h5>
              <p class="card-text">Recuerda que el Maíz es el oro de los sabios (earn 20-30 golds)</p>
              <button type = "submit" class="btn btn-primary" name = "place" value = "farm">Find Gold!</button>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0RtlrnXg4jhw7Sk3n5CyQUAruyl6z3GmPxQ&usqp=CAU" class="card-img-top" alt="Cavernas de Marmol">
            <div class="card-body">
              <h5 class="card-title">Cave</h5>
              <p class="card-text">La cavernas de marmol es un tesoro por si solo. (earns 5-10 golds)</p>
              <button type = "submit" class="btn btn-primary" name = "place" value = "cave">Find Gold!</button>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="https://thumbs.dreamstime.com/b/casa-de-oro-22704435.jpg" class="card-img-top" alt="Casa de oro">
            <div class="card-body">
              <h5 class="card-title">House</h5>
              <p class="card-text">Si el oro tuviera forma de casa, ésta sería una gran perspectiva!(earns 2-5)</p>
              <button type = "submit" class="btn btn-primary" name = "place" value = "house">Find Gold!</button>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQmgapMNK7TMHXHREPOULak2ka89cfqmXxVA&usqp=CAU" class="card-img-top" alt="Casino">
            <div class="card-body">
              <h5 class="card-title">Casino</h5>
              <p class="card-text">Aquí te juegas la suerte, si la fortuna te sonríe serás bendecido con el azar, pero si pierdes llorarán tus arcas.(earns/takes 0-50 golds)</p>
              <button type = "submit" class="btn btn-primary" name = "place" value = "casino">Find Gold!</button>
            </div>
          </div>
        </div>

  
       
      </form>
      <form action ="/ninja/exit" method='POST'>
        {% csrf_token %}
        <input type="hidden">
        <button class="btn btn-outline-danger my-2" type="submit">Exit</button>
    </form>

      <h3>actividad</h3>}

      <p>{{request.session.activities}}</p><br>
    </body>
        
</html>